$green:#2bd9cf;
$blue:#2ab1e8;
$white:#f8f9fb;
$gray:#b6b6b6;
$red:#f64f61;
$oriange:#f1a55a;
$deep-gray:#7a7f81;
$dark:#212121;
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}



